<div class="container mt-4">
  <div class="card">
    <div class="card-header">
      <div class="card-header-title">Typing Challenge</div>
    </div>
    <div class="card-content">
      <div class="content" *ngIf="userTypedText">
        <span
          *ngFor="let char of userTypedText.split(''); index as index"
          [ngClass]="{
            correct: char === text[index],
            incorrect: char !== text[index]
          }"
        >
          {{ char }}
        </span>
      </div>
      <div class="field">
        <input
          #input
          [disabled]="hasFinishedTyping()"
          type="Start typing"
          class="input"
          placeholder="Start typing"
          [value]="userTypedText"
          (input)="onChange($event)"
          (paste)="onPaste($event)"
        />
      </div>
    </div>
    <div class="card-footer">
      <div class="card-footer-item">
        <p
          class="subtitle has-text-centered"
          *ngIf="!hasFinishedTyping(); else notFinishedTyping"
        >
          {{ text }}
        </p>
        <ng-template #notFinishedTyping>
          <article class="message is">
            <div class="message-header">
              <p>Challenge complete!</p>
            </div>
            <div class="message-body">
              <p>
                You typed <strong>{{ userTypedText }}</strong>
                <br />
                in {{ finishTime?.getSeconds() }} seconds
              </p>
              <button class="button is-primary mt-2" (click)="restart(input)">
                Restart
              </button>
            </div>
          </article>
        </ng-template>
      </div>
    </div>
  </div>
</div>
